<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="PHP Travel Test Suite">

	<listeners>
		<listener class-name="com.phpt.qa.report.ExtendReportListener"/>
	
	</listeners>

	<test name="PHP Travel Test Cases">
		<classes>
			<class name="com.phpt.qa.testcases.LoginPageTest" />
			<class name="com.phpt.qa.testcases.HomePageTest" />

		</classes>

	</test>


</suite>
